@{
    ViewBag.Title = "Birthday";
}

<!-- content -->
<div class="container" style="min-width:480px;">
    <div class="jumbotron">
        <h1>Happy Birthday!</h1>
    </div>
    <form role="form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday" placeholder="Enter birthday">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Select your favorite balloons</strong></h3>
                    </div>
                    <div class="panel-body">

                        <ul>
                            @{
                                foreach (string ball in ViewBag.balloons)
                                {
                                    <li>
                                        @Html.CheckBox(ball, false, new { @class = "bx" })
                                        @Html.Label(ball, ball + " Ball")
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default">Submit</button>
        </div>
        <div class="col-sm-6" style="text-align:center;">

            @{
                foreach (string ball in ViewBag.balloons)
                {
                    String png = "../Content/images/" + ball + ".png";
                    String id = ball + "Img";

                    <img src="@png" alt="@ball" class="ball" id="@id" hidden/>
                }
            }

        </div>
    </form>
</div>

@section scripts
{
    <script>
        $(function () {
            $("#birthday").datepicker();
            $(".ball").draggable({ appendTo: "body" });

            $('h1').addClass('animated bounce');

            $('.bx').change(function () {
                $('.bx').each(function () {
                    $(this).is(':checked') ?
                        $('#' + $(this).attr('id') + 'Img').show().removeClass().addClass('animated zoomIn') :
                        $('#' + $(this).attr('id') + 'Img').addClass('animated zoomOut');
                });
            });
        });
    </script>
}