
@{
    ViewBag.Title = "Order";
}

<div class="container" style="min-width:480px;">
    <div class="jumbotron">
        <h1>Ballon Order</h1>
    </div>
    <form role="form" method="post" action="~/BirthdayOrder/Results">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input class="form-control" id="birthday "name="birthday" placeholder="Enter birthday">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Select balloons you would like to order</strong></h3>
                    </div>
                    <div class="panel-body">
                        @Html.CheckBox("All", false, new { id = "allBoxes" })
                        @Html.Label("All","Select All")
                        <ul>
                            @{
                                foreach (string ball in ViewBag.balloons)
                                {
                                    <li>
                                        @Html.CheckBox(ball, false, new { @class = "bx" })
                                        @Html.Label(ball, ball + " Balloon")
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        <div class="col-sm-6" style="text-align:center;">

            @{
                foreach (string ball in ViewBag.balloons)
                {
                    String png = "../Content/images/" + ball + ".png";
                    String id = ball + "Img";

                    <img src="@png" alt="@ball" class="ball" id="@id" hidden />
                }
            }

        </div>
    </form>
</div>

@section scripts
{
    <script>
        $(function () {
            $(".ball").draggable({ appendTo: "body" });
            $('#birthday').datepicker({ dateFormat: "mm-dd" });

            $('h1').addClass('animated bounce');
            $('#allBoxes').prop("checked", false);

            $('.bx').each(function () {
                $(this).prop("checked", false);
            });

            $('#allBoxes').change(function () {
                if ($('#allBoxes').is(':checked')) {
                    $('.bx').each(function () {
                        $('#' + $(this).attr('id') + 'Img').show().removeClass().addClass('animated zoomIn');
                        $(this).prop("checked", true);
                    });
                } else {
                    $('.bx').each(function () {
                        $('#' + $(this).attr('id') + 'Img').addClass('animated zoomOut');
                        $(this).prop("checked", false);
                    });
                }
            });

            $('.bx').change(function () {
                $('.bx').each(function () {
                    $(this).is(':checked') ?
                        $('#' + $(this).attr('id') + 'Img').show().removeClass().addClass('animated zoomIn') :
                        $('#' + $(this).attr('id') + 'Img').addClass('animated zoomOut')
                    $('#allBoxes').prop("checked", false);
                });
            });
        });
    </script>
}