<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jordan Rehbein</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Home/Index"><i class="fas fa-home"></i> - J<i class="fab fa-empire"></i>rd<i class="fab fa-atlassian"></i>n Re<i class="fas fa-h-square"></i>bein</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lessons <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Home/Index"><i class="fas fa-chevron-circle-right"></i> HW 2 - Create "Lessons" menu</a></li>
                        <li><a href="~/Home/HW3"><i class="fas fa-chevron-circle-right"></i> HW 3 - Bootstrap Jumbotron</a></li>
                        <li><a href="~/Home/HW4"><i class="fas fa-chevron-circle-right"></i> HW 4 - Add icons to all links</a></li>
                        <li><a href="~/Home/HW5"><i class="fas fa-chevron-circle-right"></i> HW 5 - Randomize the attention seeker</a></li>
                        <li><a href="~/Foo/Index"><i class="fas fa-chevron-circle-right"></i> HW 7 - Create a new controller and associated view</a></li>
                        <li><a href="~/hw8/homework8"><i class="fas fa-chevron-circle-right"></i> HW 8 - Create a new controller route</a></li>
                        <li><a href="~/HW10/Index"><i class="fas fa-chevron-circle-right"></i> HW 10 - Create a color combinator</a></li>
                        <li><a href="~/BirthdayOrder/Order"><i class="fas fa-chevron-circle-right"></i> Birthday Order</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Products<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="~/HW9/DisplayProducts" id="search">Product</a></li>
                        <li><a href="~/HW9/discounts" id="search">Discounts</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/HW9/register" id="search">Register</a></li>
                        <li><a href="~/HW9/signin" id="search">Signin</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="~/HW9/account">Account</a></li>
                    </ul>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Jordan Rehbein</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

</body>
</html>
